.register {
  height: 100vh;
  background-color: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .card {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      text-align: center;
      justify-content: center;
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 70px;
        line-height: 100px;
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: 3px solid;
        background-color: orangered;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .input-group {
          position: relative;
        }

        .input {
          border: 2.5px solid black;
          border-radius: 1rem;
          background: none;
          padding: 1rem;
          padding-right: 4rem;
          padding-left: 3rem;
          font-size: 1rem;
          color: black;
          transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .user-label {
          position: absolute;
          left: 15px;
          top: 2.5px;
          color: gray;
          pointer-events: none;
          transform: translateY(1rem);
          transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .input:focus,
        input:valid {
          outline: none;
          border: 3px solid orangered;
        }

        .input:focus ~ label,
        input:valid ~ label {
          transform: translateY(-50%) scale(0.8);
          background-color: white;
          padding: 0 0.2em;
          color: orangered;
        }

        // input {
        //   border: none;
        //   border-bottom: 1px solid lightgray;
        //   padding: 20px 10px;
        // }

        button {
          width: 50%;
          margin-left: 25%;
          padding: 10px;
          border: none;
          background-color: orangered;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
